html {
  background-color: #ECF0F1;
}
#wrapper {

}
header {
  background-color: #E74C3C;
  color: #EEE;
  height: 2.6em;
  font-size: 20px;
  line-height: 2.6em;
}
header p {
  padding-left: 20px;
}
h1 {
  padding-left: 30px;
}

tr {
  padding-left: 20px;
}
